.resetpassword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/PCNJBG.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  padding: 20px;
}

.resetpassword-overlay {
  background-color: rgba(151, 144, 144, 0.671); /* Transparent gray overlay */
  position: fixed; /* Use fixed positioning to cover the entire viewport */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding: 20px; /* Inner padding */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text */
  z-index: 9999; /* Ensure it is above other elements */
}

.resetpassword-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Change to stretch to fit the container */
}

.resetpassword-form h2 {
  align-self: center;
  margin-bottom: 20px;
  color: #333;
}

.resetpassword-form label {
  align-self: flex-start;
  margin-bottom: 8px;
  font-weight: bold;
}

.resetpassword-form input {
  width: 100%; /* Full width */
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.resetpassword-form button[type="submit"] {
  width: 100%; /* Full width */
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.resetpassword-form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .resetpassword-form {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .resetpassword-container {
    padding: 10px;
  }

  .resetpassword-form {
    width: 90%;
    max-width: none;
  }
}

.input-group {
  position: relative;
  width: 100%; /* Full width for the input group */
}

.input-group .form-control {
  padding-right: 50px; /* Ensure space for the icon */
}

.input-group .input-group-text {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove padding */
}

.input-group .input-group-text i {
  transform: translateY(-50%);
}

.resetpassword-form .error-message {
  color: #e74c3c; /* Red color for error messages */
  margin-bottom: 15px;
  font-size: 14px;
}
